01-dw-basics-start/src/main/mule/basics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7d5f0e57-56ef-44bb-b818-a4f42ca0ecb5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="basicsFlow" doc:id="52857712-9493-4c12-a69e-898390c49ea2" >
		<http:listener doc:name="Listener" doc:id="756f7c8d-3716-46c5-90f3-ff5226146ba2" config-ref="HTTP_Listener_config" path="/transform"/>
		<ee:transform doc:name="Transform Message" doc:id="feb417a4-4896-47b7-9388-8c3884eda5b0" >
			<ee:message >
				<ee:set-payload resource="productxml.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="pname.dwl" variableName="pname" />
				<ee:set-variable resource="dp.dwl" variableName="discount" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="20da0684-2457-47fb-ba31-1ba2fcd6ac2f" message="#[payload]"/>
	</flow>
</mule>
